# Backend
backend/uploads/
backend/.env
backend/*.log
backend/go.sum

# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
umess-server
umess-server.exe

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.exe
*~

# OS
.DS_Store
Thumbs.db


